# Project
*workspace*

# Golang
.go/PublicPackages/

# Ansible
.ansible.cfg
.ansible/callback_plugins/profile_tasks.pyc
.ansible/facts/
.ansible/tmp/
.ansible/vault
.ansible/inventory/*.pyc
.ansible/roles/azure.azure_preview_modules/
