"*":
  "atom-beautify":
    general:
      beautifyEntireFileOnSave: false
      showLoadingView: false
  core:
    audioBeep: false
    autoHideMenuBar: true
    disabledPackages: [
      "open-on-github"
      "github"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "github"
      "open-on-github"
    ]
    projectHome: "/home/msurbey/workspace/github/ecwpz91"
    reopenProjectMenuCount: 3
    telemetryConsent: "no"
  editor:
    fontFamily: "Liberation Mono"
    showLineNumbers: false
    tabLength: 1
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "5f6f73eb-ca6c-4e9b-af85-75a6fe01c662"
  "file-icons":
    coloured: false
    onChanges: true
    revealTreeView: false
    strategies:
      grammar: false
      hashbangs: false
      linguist: false
      modelines: false
      usertypes: false
    tabPaneIcon: false
  github: {}
  linter: {}
  "linter-ui-default":
    hidePanelWhenEmpty: false
    showStatusBar: false
    statusBarRepresents: "Current File"
    useBusySignal: false
  "no-title-bar":
    automaticTrafficLightsPadding: true
    enableLiberalWindowDragging: false
    trafficLightsPadding: 50
  "open-on-github": {}
  "platformio-ide-terminal":
    style:
      fontFamily: "Liberation Mono"
      fontSize: "14"
    toggles:
      autoClose: true
      runInsertedText: false
  "status-bar":
    fullWidth: false
  "todo-show": {}
  "tool-bar":
    visible: false
  "tree-view":
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  zentabs:
    showPinnedIcon: false
".source.yaml":
  editor:
    autoIndentOnPaste: true
